body {
    background: #ffffff;
    color: #111111;
    font: 28px Baskerville, "Palatino Linotype", "Times New Roman", Times, serif;
    text-align: center;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font: 28px Baskerville, "Palatino Linotype", "Times New Roman", Times, serif;
}

h2 { text-indent: 50px; }

h3 { text-indent: 100px; }

h4 { text-indent: 150px; }

#poem {
    margin: auto;
    padding: 20px;
    text-align: left;
    width: 690px;
    border: 1px;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}

#poem h1:first-letter {
    float: left;
    font-size: 68px;
    line-height: 1;
    margin: -15px 5px 0 0;
}

#poem h1:first-line {
    font-variant: small-caps;
    letter-spacing: 1px;
}
