@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: 0;
}

input {
    font-family: 'Montserrat', sans-serif;
}

.icon {
    width: 2.5em;
    height: 2.5em;
}

#buttons {
    position: absolute;
    z-index: 1;
    left: 2vw;
    top: 2vh;
}

#settings, #help {
    background-color: #ffffff;
    display: none;
    position: absolute;
    z-index: 1;
    left: 1vw;
    top: 1vh;
    width: 98vw;
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.centered {
    text-align: center;
}

#closeSettings, #closeHelp {
    margin: 2em 0 0 2em;
}

#applySettings {
    margin: 0 0 2em 0;
}

#textSpeed, #textAcceleration, #textFrequency, #fontSize, #backgroundColor, #foregroundColor {
    width: 3em;
}

#textSettings, #sketchSettings {
    width: 45%;
    margin: 2em;
    display: inline-block;
}

#simpleSpeed {
    -webkit-appearance: none;
    appearance: none;
    width: 20em;
    height: 1.3em;
    margin: .3em;
    background: #666666;
    border-width: 2px;
    border-color: #666666;
    border-radius: 4px;
    padding: 0 2px 0 2px;
    outline: none;
    opacity: 0.95;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

#simpleSpeed:hover {
    opacity: 1;
}

#simpleSpeed::-webkit-slider-thumb, #simpleSpeed::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: .9em;
    height: .9em;
    background: #ffffff;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
}

#help p {
    margin: 2em;
}

#sketch {
    width: 100vw;
    height: 99.524456vh;
    margin: 0;
    padding: 0;
}
